
body { 
    font-family: 'Caudex', sans-serif; 
    background-color: #ffffff; 
    color: #000;
}

 .navbar-brand { 
    font-family: 'Playfair Display', serif;
     font-size: 1.8rem; 
     letter-spacing: 2px; 
     font-style: italic; 
    }

.aura-title {
    color: #db97a4;
    letter-spacing: 3px;
    font-size: 2.1rem;
    font-style: italic;
    font-family: 'Times New Roman', serif !important;
}


.hero-banner {
            background-color: #f7c8d1;
            padding: 60px 0;
            text-align: center;
        }

.hero-banner h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 200;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#miniCarruselAnuncios {
    background-color: #181114; 
    border-bottom: 1px solid #eee;
}

.top-bar-text {
    font-family: 'Caudex', sans-serif;
    font-size: 0.75rem; 
    font-weight: 500;  
    color: #ebe1e1;      
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px 0; 
}

.product-image-container {
    background-color: #eae2e2;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hover-zoom img {
    transition: transform 0.5s ease;
}

.hover-zoom:hover img {
    transform: scale(1.50);
}


h2 {
    color: #333;
    font-size: 2.5rem;
}

section p {
    font-size: 0.9rem;
    text-align: justify; /* Esto alinea el texto a ambos lados */
    line-height: 1.6;
}

.card-title {
    font-family: 'Barlow', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
}

.img-fluid-carrusel {
    /* En el monitor de la PC ahora medirá 400px (antes 550px) */
    height:700px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Para tu notebook (pantallas un poco más chicas) */
@media (max-width: 1366px) {
    .img-fluid-carrusel {
        height: 450px; /* En la notebook se verá más hiquito todavía */
    }
}

/* Para que en el celular no ocupe toda la pantalla */
@media (max-width: 768px) {
    .img-fluid-carrusel {
        height: 200px;
    }
}
