
body { 
    font-family: 'Montserrat', sans-serif; 
    background-color: #fcfcfc; 
    color: #000;
}

 .navbar-brand { 
    font-family: 'Playfair Display', serif;
     font-size: 1.8rem; 
     letter-spacing: 2px; 
     font-style: italic; 
    }

.placeholder-img {
            background-color: #ffdaf9;
            width: 100%;
            aspect-ratio: 1 / 1.2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffe7f5;
            text-transform: uppercase;
            font-size: 0.7rem;
            margin-bottom: 15px;
        }

.hero-banner {
            background-color: #FAF3F0;
            padding: 100px 0;
            text-align: center;
            border-bottom: 1px solid #ffffff;
        }


.btn-shop {
            background: #fff1fe;
            color: #ffe6fe;
            border-radius: 0;
            padding: 10px 30px;
            text-transform: uppercase;
            font-size: 0.8rem;
            border: none;
        }

#miniCarruselAnuncios {
    background-color: #fff2e0; 
    border-bottom: 1px solid #eee;
}

.top-bar-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem; 
    font-weight: 500;  
    color: #333;      
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px 0; 
}

.product-image-container {
    background-color: #ebd7c4;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hover-zoom img {
    transition: transform 0.5s ease;
}

.hover-zoom:hover img {
    transform: scale(1.50);
}


h2 {
    color: #333;
    font-size: 2.5rem;
}

section p {
    font-size: 0.9rem;
}

.img-fluid-carrusel {
    /* En el monitor de la PC ahora medirá 400px (antes 550px) */
    height:700px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Para tu notebook (pantallas un poco más chicas) */
@media (max-width: 1366px) {
    .img-fluid-carrusel {
        height: 320px; /* En la notebook se verá más hiquito todavía */
    }
}

/* Para que en el celular no ocupe toda la pantalla */
@media (max-width: 768px) {
    .img-fluid-carrusel {
        height: 200px;
    }
}